<div class="container">
    <h1 class="mt-4">Candidatos a Papa - 2025</h1>

    <table class="table table-bordered mt-4">
        <thead>
            <tr style="--bs-table-bg: #C41E3A; --bs-table-color: white;">
                <th scope="col">Nombre</th>
                <th scope="col">Foto</th>
                <th scope="col">Pais Origen</th>
                <th scope="col">Edad</th>
                <th scope="col">Vertiente Religiosa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidato of candidatos" (click)="seleccionarCandidato(candidato)">
                <td>{{ candidato.nombre }}</td>
                <td><img [src]="candidato.foto" alt="{{ candidato.nombre }}" style="width: 50px; height: auto;"></td>
                <td>{{ candidato.pais_origen }}</td>
                <td>{{ candidato.edad }} años</td>
                <td>{{ candidato.vertiente_religiosa }}</td>
            </tr>
        </tbody>
    </table>

    <app-candidatos-detail *ngIf="candidatoSeleccionado" [candidato]="candidatoSeleccionado"></app-candidatos-detail>
</div>
