<div class="container mt-5">
    <div *ngIf="!selectedCandidato">
      <h2 class="mb-4">Candidatos a Papa</h2>
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Foto</th>
            <th scope="col">Pais de origen</th>
            <th scope="col">Edad</th>
            <th scope="col">Vertiente Religiosa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let can of candidatos" 
              (click)="showCandidatoDetails(can)"
              style="cursor: pointer;">
            <td>{{ can.id}}</td>
            <td>{{ can.nombre }}</td>
            <td>{{ can.foto }}</td>
            <td>{{ can.edad }}</td>
            <td>{{ can.vertiente_religiosa}}</td>

          </tr>
        </tbody>
      </table>
    </div>
